body{
       background-image: url("/static/thank.png");
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-size: cover;
       font-weight:bolder;
       color: #eae9f0;
   }
   .heading{
       text-align: center;
       font-size: large;
       color:rgb(221, 31, 63);

   }
   .heading1{
       text-align: center;
       text-transform: uppercase;
       background-color:darkblue
   }
   .download{
       position: absolute;
       text-align: center;
       left: 40vw;
       right: 40vw;
       bottom: 9vw;
       text-decoration: none;
       background-color: #00ffff;
       padding: 5px;
       margin: 20px 0px  0px 0px ;
       border-radius: 16px;
       font-size: large;
       color: black; 
       width: auto;  
   }
   .download:hover{
    background-color: #4aacac;
   }